body {
  background:#121212;
  color:white;
  font-family:Arial, sans-serif;
  max-width:900px;
  margin:auto;
  padding:20px;
}

input {
  width:100%;
  padding:12px;
  font-size:16px;
  border-radius:6px;
  border:none;
  margin-bottom:10px;
}

.movie {
  background:#1e1e1e;
  padding:12px;
  margin-top:10px;
  border-radius:8px;
}

.movie h3 {
  margin:0 0 5px 0;
}

.small {
  color:#aaa;
  font-size:14px;
}

a {
  color:#4da3ff;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
